<!-- menu starts-->
<div class="menu-container navbar-dark">
    <div class="menu-pic">
        <img src="/pics/main.png" class="pic">
    </div>
    <div class="container">
        {{#if loggedIn}}
            <p class="navbar-text hello">Bel&eacutepve, mint {{user.username}}!</p>
        {{/if}}
        <div class="navbar-brand title">Szakdolgozat</div>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">F&otildeoldal</a></li>
            {{#if notLoggedIn}}
                <li class="nav-item"><a class="nav-link" href="./registration">Regisztr&aacuteci&oacute</a></li>
                <li class="nav-item"><a class="nav-link" href="./login">Bejelentkez&eacutes</a></li>
            {{/if}}
            <li class="nav-item"><a class="nav-link" href="./game">J&aacutet&eacutek</a></li>
            {{#if loggedIn}}
                <li class="nav-item"><a class="nav-link" href="./logout">Kijelentkez&eacutes</a></li>
            {{/if}}
        </ul>
    </div>
</div>
<!--menu ends-->
<div class="main-text">

    {{#each validationErrors}}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">X</button>
            {{this}}
        </div>
    {{/each}}
    <div class="reg-title">
        <h1>Regisztr&aacuteci&oacute</h1>
    </div>
    <form class="form-horizontal" method="post">
        <fieldset>
            <div class="form-group {{#if validationErrors}}
                    has-error
                {{/if}}">
                <label class="username">Felhaszn&aacutel&oacuten&eacutev: </label>
                <input required class="form-control input-fields" id="username" name="username"
                       placeholder="username, pl.: user" type="text" value="{{data.username}}">
                {{#if validationErrors}}
                    <span class="help-block">{{validationErrors}}</span>
                {{/if}}
            </div>

            <div class="form-group {{#if validationErrors}}
                    has-error
                {{/if}}">
                <label class="email">E-mail: </label>
                <input required class="form-control input-fields" id="email" name="email"
                       placeholder="e-mail, pl.: user@gmail.com" type="email"
                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" value="{{data.email}}">
                {{#if validationErrors}}
                    <span class="help-block">{{validationErrors}}</span>
                {{/if}}
            </div>
            <div class="form-group {{#if validationErrors}}
                    has-error
                {{/if}}">
                <label class="pwd">Jelsz&oacute: </label>
                <input required class="form-control input-fields" id="password" name="password"
                       placeholder="password, pl.: 1234" type="password" value="{{data.password}}">
                {{#if validationErrors}}
                    <span class="help-block">{{validationErrors}}</span>
                {{/if}}
            </div>
            <div class="form-group {{#if validationErrors}}
                    has-error
                {{/if}}">
                <label class="pwda">Jelsz&oacute ism&eacutet: </label>
                <input required class="form-control input-fields" id="passwordagain" name="passwordagain"
                       placeholder="password, pl.: 1234" type="password" value="{{data.passwordagain}}">
                <!--value="ertek"-->
                {{#if validationErrors}}
                    <span class="help-block">{{validationErrors}}</span>
                {{/if}}
            </div>
            <div class="button-container">
                <button type="reset" class="btn btn-default">Mez&otildek t&oumlrl&eacutese</button>
                <button type="submit" class="btn btn-primary">Regisztr&aacutelok</button>
            </div>
        </fieldset>
    </form>
</div>
<script src='js/main.js'></script>